body{
    margin-top: 50px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: grey;
    
}

h1{
    font-size: 30px;
    color:black;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skip{
    color: lime;
}

.link{
    color: #fff;
    text-decoration: none;
    background-color: violet;
    padding: 4px 40px;
    margin-top: 50px;
    font-weight: 10px;
    border-radius: 50px;
}

.flex{
    display: flex;
}
.first-item{
    width: 50%;
    padding: 20px;
    margin-top: 100px;
    margin-left: 40px;

}
img{
    width: 60%;
    height: 500px;
    padding-left:90px;
    margin: 5px;
}
#bannar-item{
    background-image: url(./images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0;
}
.change-position{
    padding-right:35px;
}

.my-recipes{
    width: 50%;
    margin: 0 auto;
}
.recipes{
    text-align: center;
    font-size: 30px;
}
.p-alignment{
    text-align: center;
}
.secound-item{
    width: 30%;
    padding: 20px 10px;
    margin: 0 10px;
    background-color:#fff;
    border-radius: 40px;
    box-shadow: 0 0 5px 5px aliceblue;
}

.img-item-02  img{
    height: 300px;
    width: 0 auto;
}
.img-item img{
    height: 300px;
    width: 0 auto;
    border-radius: 10px;
}

.text-item{
    padding-left: 90px;
}
h2{
    font-size: 30px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* 
.third-item{
    width: 90%;
    padding: 30px 50px;
    background-color: blueviolet;
} */
    .third-item{
        width: 90%;
    padding: 5px 30px;
    margin: 0 60px;
    background-color:aliceblue; 
    border-radius: 40px;
    box-shadow: 0 0 5px 5px aliceblue;

    }
    .third-part{
        margin-right: 70px;
        padding-left: 200px;
    }

    /* Gellary-part */
    .h2{
        text-align: center;
        margin-bottom: 100px;
    }
    .gal-img{
        display: flex;
        height: 0 auto;
        width: 25%;
     
    }
    .gellary{
        padding: 0;
        margin: 0;
     justify-content: center;
    }

    /* Footer-Part */
    footer{
        background-color: blueviolet;
        text-align: center;
        padding: 60px;
        color: burlywood;
    }
    .lime{
        color:lime;
    }
    .cyan{
        color:cyan;
    }

  